In [2]:
import pandas as pd

In [5]:
df = pd.read_csv("visualization_data.csv")
df

,College,Major Name,Total_1980,Male_1980,Female_1980,Total_2018,Male_2018,Female_2018
0,ACES,Agricultural & Applied Econ,314,276,38,86,48,38
1,ACES,Agricultural & Biological Engr,98,85,13,84,47,37
2,ACES,Agricultural Communications,78,31,47,40,12,28
3,ACES,Agricultural Education,26,21,5,32,10,22
4,ACES,Animal Sciences,485,243,242,626,128,496
5,ACES,Food Science & Human Nutrition,183,82,101,480,130,350
6,ACES,Horticulture,48,28,20,3,1,2
7,ACES,Nutritional Sciences,30,11,19,41,10,31
8,Applied Health Sciences,Kinesiology,268,125,143,634,286,348
9,Business,Accountancy,1529,928,601,1430,656,774
10,Business,Business Administration,1414,831,583,95,41,52
11,Business,Finance,536,352,184,887,572,315
12,Education,Ed Organization and Leadership,135,65,70,22,10,12
13,Education,Educational Psychology,156,65,91,51,14,37
14,Education,Elementary Education,428,33,395,302,23,279
15,Education,Secondary Education,16,8,8,20,13,7
16,Education,Special Education,105,18,87,160,19,140
17,Engineering,Agricultural Engineering,83,75,8,141,88,53
18,Engineering,Civil Engineering,902,792,110,1225,901,324
19,Engineering,Computer Engineering,286,252,34,1184,1032,152
20,Engineering,Computer Science,697,544,153,2318,1757,559
21,Engineering,Electrical Engineering,1645,1497,148,913,786,127
22,Engineering,Industrial Engineering,187,130,57,367,262,105
23,Engineering,Mechanical Engineering,1012,934,78,1285,1037,248
24,Engineering,Theoretical & Applied Mechans,50,460,40,36,290,70
25,Fine and Applied Arts,Architectural Studies,627,474,153,418,251,167
26,Fine and Applied Arts,Architecture,182,150,32,199,99,99
27,Fine and Applied Arts,Art Education,72,13,59,54,3,51
28,Fine and Applied Arts,Art History,59,14,45,14,2,12
29,Fine and Applied Arts,Art and Design,363,115,248,47,18,29
...,...,...,...,...,...,...,...,...
56,LAS,Geology,115,79,36,97,55,42
57,LAS,German,26,13,13,9,6,3
58,LAS,History,82,46,36,340,216,124
59,LAS,Linguistics,63,32,31,125,50,75
60,LAS,Mathematics,139,119,20,772,506,265
61,LAS,Microbiology,59,34,25,49,20,29
62,LAS,Molecular & Integrative Physi,57,43,14,23,8,15
63,LAS,Philosophy,33,28,5,111,82,29
64,LAS,Physics,362,336,26,275,219,56
65,LAS,Plant Biology,31,18,13,33,12,21
66,LAS,Political Science,46,29,17,768,422,345
67,LAS,Psychology,160,86,74,1667,437,1230
68,LAS,Slavic Languages & Literature,13,6,7,14,3,11
69,LAS,Sociology,46,28,18,213,77,136
70,LAS,Spanish,46,18,28,121,40,81
71,LAS,Speech & Hearing Science,158,13,145,298,14,284
72,LAS,Statistics,11,6,5,561,325,236
73,LAS,Teaching of Chemistry,7,3,4,1,0,10
74,LAS,Teaching of English Sec Lang,75,15,60,28,50,230
75,LAS,Teaching of French,14,1,13,1,0,10
76,LAS,Teaching of Mathematics,28,10,18,3,20,10
77,LAS,Teaching of Spanish,24,2,22,7,0,70
78,Law,Law,639,468,171,487,269,218
79,Media,Advertising,240,77,163,645,207,438
80,Media,Communication,27,12,15,732,280,452
81,Media,Journalism,203,75,128,228,90,138
82,Social Work,Social Work,315,69,246,607,86,521
83,VetMed,VMS-Veterinary Clinical Medcne,11,80,30,34,90,250
84,VetMed,Veterinary Medicine,355,2100,1450,545,750,4700
85,iSchool,Library & Information Science,142,34,108,529,116,408

In [31]:
df[df["College"] == "Business"]["Female_1980"].sum()

1368

In [32]:
df[df["College"] == "Business"]["Female_2018"].sum()

1141

In [33]:
df[df["College"] == "Business"]["Male_1980"].sum()

2111

In [34]:
df[df["College"] == "Business"]["Male_2018"].sum()

1269

In [13]:
df[df["College"] == "LAS"]["Total_1980"].describe()

count     39.000000
mean      89.307692
std      123.879856
min        6.000000
25%       23.000000
50%       46.000000
75%       97.000000
max      531.000000
Name: Total_1980, dtype: float64

In [12]:
df[df["College"] == "LAS"]["Total_2018"].describe()

count      39.000000
mean      262.897436
std       378.682605
min         1.000000
25%        20.000000
50%       111.000000
75%       319.000000
max      1667.000000
Name: Total_2018, dtype: float64

In [6]:
df[(df["College"] == "Engineering") & (df["Fall"] == 2018)]["Total"].describe()

count       8.000000
mean      933.625000
std       750.525518
min        36.000000
25%       310.500000
50%      1048.500000
75%      1240.000000
max      2318.000000
Name: Total, dtype: float64

In [8]:
df[(df["College"] == "Engineering") & (df["Major Name"] == "Theoretical & Applied Mechans")]

    Fall      College                     Major Name  Total  Male  Female
48  1980  Engineering  Theoretical & Applied Mechans     50   460      40
49  2018  Engineering  Theoretical & Applied Mechans     36   290      70

In [10]:
df = df.sort_values(["College", "Major Name", "Fall"])

In [12]:
df.to_csv("visualization_data.csv", index = False)

In [193]:
df["College"].value_counts()

LAS                        78
Fine and Applied Arts      28
Engineering                16
ACES                       16
Education                  10
Business                    6
Media                       6
VetMed                      4
Applied Health Sciences     3
iSchool                     2
Social Work                 2
Law                         2
Name: College, dtype: int64

In [196]:
majors = []
majors.append(df[df["College"] == "LAS"]["Major Name"].nunique())
majors.append(df[df["College"] == "Fine and Applied Arts"]["Major Name"].nunique())
majors.append(df[df["College"] == "ACES"]["Major Name"].nunique())
majors.append(df[df["College"] == "Engineering"]["Major Name"].nunique())
majors.append(df[df["College"] == "Education"]["Major Name"].nunique())
majors.append(df[df["College"] == "Business"]["Major Name"].nunique())
majors.append(df[df["College"] == "Media"]["Major Name"].nunique())
majors.append(df[df["College"] == "VetMed"]["Major Name"].nunique())
majors.append(df[df["College"] == "Applied Health Sciences"]["Major Name"].nunique())
majors.append(df[df["College"] == "iSchool"]["Major Name"].nunique())
majors.append(df[df["College"] == "Social Work"]["Major Name"].nunique())
majors.append(df[df["College"] == "Law"]["Major Name"].nunique())

In [197]:
majors

[39, 14, 8, 8, 5, 3, 3, 2, 2, 1, 1, 1]

In [198]:
pd.set_option('display.max_rows', 70)
df[df["College"] == "Applied Health Sciences"].sort_values(["Major Name", "Fall"])

    Fall                  College        Major Name  Total  Male  Female
94  2018  Applied Health Sciences  Community Health    656   160     496
17  1980  Applied Health Sciences       Kinesiology    268   125     143
95  2018  Applied Health Sciences       Kinesiology    634   286     348

In [171]:
pd.set_option('display.max_rows', 700)
df[df["College"] == "Engineering"].sort_values(["Major Name", "Fall"])

     Fall      College                     Major Name  Total  Male  Female
3    1980  Engineering       Agricultural Engineering     83    75       8
107  2018  Engineering       Agricultural Engineering    141    88      53
28   1980  Engineering              Civil Engineering    902   792     110
108  2018  Engineering              Civil Engineering   1225   901     324
29   1980  Engineering           Computer Engineering    286   252      34
109  2018  Engineering           Computer Engineering   1184  1032     152
30   1980  Engineering               Computer Science    697   544     153
110  2018  Engineering               Computer Science   2318  1757     559
31   1980  Engineering         Electrical Engineering   1645  1497     148
111  2018  Engineering         Electrical Engineering    913   786     127
32   1980  Engineering         Industrial Engineering    187   130      57
112  2018  Engineering         Industrial Engineering    367   262     105
33   1980  Engineering         Mechanical Engineering   1012   934      78
113  2018  Engineering         Mechanical Engineering   1285  1037     248
34   1980  Engineering  Theoretical & Applied Mechans     50   460      40
114  2018  Engineering  Theoretical & Applied Mechans     36   290      70

In [200]:
df = df[df["Major Name"] != "Community Health"]

In [201]:
df.to_csv("visualization_data.csv", index = False)

In [12]:
df1980 = df[df["Fall"] == 1980]

In [14]:
df1980["Total_1980"] = df1980["Total"]
df1980["Male_1980"] = df1980["Male"]
df1980["Female_1980"] = df1980["Female"]

/Users/diproray/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/diproray/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/diproray/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [17]:
df2018 = df[df["Fall"] == 2018]
df2018["Total_2018"] = df2018["Total"]
df2018["Male_2018"] = df2018["Male"]
df2018["Female_2018"] = df2018["Female"]

/Users/diproray/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/diproray/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/diproray/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [26]:
df1980 = df1980.drop(["Fall", "Total", "Male", "Female"], axis = 1)

In [25]:
df2018 = df2018.drop(["Fall", "Total", "Male", "Female"], axis = 1)

In [33]:
result = pd.concat([df1980, df2018], axis=1, join_axes=[df1980.index])

In [63]:
df2018 = df2018.drop(["level_0", "index"], axis = 1)

In [61]:
df2018.columns = ["College_2018", "Major Name_2018", "Total_2018", "Male_2018", "Female_2018"]

ValueError: Length mismatch: Expected axis has 7 elements, new values have 5 elements

In [50]:
df1980

,College,Major Name,Total_1980,Male_1980,Female_1980
0,ACES,Agricultural & Applied Econ,314,276,38
1,ACES,Agricultural & Biological Engr,98,85,13
2,ACES,Agricultural Communications,78,31,47
3,ACES,Agricultural Education,26,21,5
4,ACES,Animal Sciences,485,243,242
5,ACES,Food Science & Human Nutrition,183,82,101
6,ACES,Horticulture,48,28,20
7,ACES,Nutritional Sciences,30,11,19
8,Applied Health Sciences,Kinesiology,268,125,143
9,Business,Accountancy,1529,928,601
10,Business,Business Administration,1414,831,583
11,Business,Finance,536,352,184
12,Education,Ed Organization and Leadership,135,65,70
13,Education,Educational Psychology,156,65,91
14,Education,Elementary Education,428,33,395
15,Education,Secondary Education,16,8,8
16,Education,Special Education,105,18,87
17,Engineering,Agricultural Engineering,83,75,8
18,Engineering,Civil Engineering,902,792,110
19,Engineering,Computer Engineering,286,252,34
20,Engineering,Computer Science,697,544,153
21,Engineering,Electrical Engineering,1645,1497,148
22,Engineering,Industrial Engineering,187,130,57
23,Engineering,Mechanical Engineering,1012,934,78
24,Engineering,Theoretical & Applied Mechans,50,460,40
25,Fine and Applied Arts,Architectural Studies,627,474,153
26,Fine and Applied Arts,Architecture,182,150,32
27,Fine and Applied Arts,Art Education,72,13,59
28,Fine and Applied Arts,Art History,59,14,45
29,Fine and Applied Arts,Art and Design,363,115,248
...,...,...,...,...,...
56,LAS,Geology,115,79,36
57,LAS,German,26,13,13
58,LAS,History,82,46,36
59,LAS,Linguistics,63,32,31
60,LAS,Mathematics,139,119,20
61,LAS,Microbiology,59,34,25
62,LAS,Molecular & Integrative Physi,57,43,14
63,LAS,Philosophy,33,28,5
64,LAS,Physics,362,336,26
65,LAS,Plant Biology,31,18,13
66,LAS,Political Science,46,29,17
67,LAS,Psychology,160,86,74
68,LAS,Slavic Languages & Literature,13,6,7
69,LAS,Sociology,46,28,18
70,LAS,Spanish,46,18,28
71,LAS,Speech & Hearing Science,158,13,145
72,LAS,Statistics,11,6,5
73,LAS,Teaching of Chemistry,7,3,4
74,LAS,Teaching of English Sec Lang,75,15,60
75,LAS,Teaching of French,14,1,13
76,LAS,Teaching of Mathematics,28,10,18
77,LAS,Teaching of Spanish,24,2,22
78,Law,Law,639,468,171
79,Media,Advertising,240,77,163
80,Media,Communication,27,12,15
81,Media,Journalism,203,75,128
82,Social Work,Social Work,315,69,246
83,VetMed,VMS-Veterinary Clinical Medcne,11,80,30
84,VetMed,Veterinary Medicine,355,2100,1450
85,iSchool,Library & Information Science,142,34,108

In [51]:
result = pd.concat([df1980, df2018], axis=1, sort=False)

In [55]:
result

,Major Name,Total_1980,Male_1980,Female_1980,Major Name,Total_2018,Male_2018,Female_2018
0,Agricultural & Applied Econ,314,276,38,Agricultural & Applied Econ,86,48,38
1,Agricultural & Biological Engr,98,85,13,Agricultural & Biological Engr,84,47,37
2,Agricultural Communications,78,31,47,Agricultural Communications,40,12,28
3,Agricultural Education,26,21,5,Agricultural Education,32,10,22
4,Animal Sciences,485,243,242,Animal Sciences,626,128,496
5,Food Science & Human Nutrition,183,82,101,Food Science & Human Nutrition,480,130,350
6,Horticulture,48,28,20,Horticulture,3,1,2
7,Nutritional Sciences,30,11,19,Nutritional Sciences,41,10,31
8,Kinesiology,268,125,143,Kinesiology,634,286,348
9,Accountancy,1529,928,601,Accountancy,1430,656,774
10,Business Administration,1414,831,583,Business Administration,95,41,52
11,Finance,536,352,184,Finance,887,572,315
12,Ed Organization and Leadership,135,65,70,Ed Organization and Leadership,22,10,12
13,Educational Psychology,156,65,91,Educational Psychology,51,14,37
14,Elementary Education,428,33,395,Elementary Education,302,23,279
15,Secondary Education,16,8,8,Secondary Education,20,13,7
16,Special Education,105,18,87,Special Education,160,19,140
17,Agricultural Engineering,83,75,8,Agricultural Engineering,141,88,53
18,Civil Engineering,902,792,110,Civil Engineering,1225,901,324
19,Computer Engineering,286,252,34,Computer Engineering,1184,1032,152
20,Computer Science,697,544,153,Computer Science,2318,1757,559
21,Electrical Engineering,1645,1497,148,Electrical Engineering,913,786,127
22,Industrial Engineering,187,130,57,Industrial Engineering,367,262,105
23,Mechanical Engineering,1012,934,78,Mechanical Engineering,1285,1037,248
24,Theoretical & Applied Mechans,50,460,40,Theoretical & Applied Mechans,36,290,70
25,Architectural Studies,627,474,153,Architectural Studies,418,251,167
26,Architecture,182,150,32,Architecture,199,99,99
27,Art Education,72,13,59,Art Education,54,3,51
28,Art History,59,14,45,Art History,14,2,12
29,Art and Design,363,115,248,Art and Design,47,18,29
...,...,...,...,...,...,...,...,...
56,Geology,115,79,36,Geology,97,55,42
57,German,26,13,13,German,9,6,3
58,History,82,46,36,History,340,216,124
59,Linguistics,63,32,31,Linguistics,125,50,75
60,Mathematics,139,119,20,Mathematics,772,506,265
61,Microbiology,59,34,25,Microbiology,49,20,29
62,Molecular & Integrative Physi,57,43,14,Molecular & Integrative Physi,23,8,15
63,Philosophy,33,28,5,Philosophy,111,82,29
64,Physics,362,336,26,Physics,275,219,56
65,Plant Biology,31,18,13,Plant Biology,33,12,21
66,Political Science,46,29,17,Political Science,768,422,345
67,Psychology,160,86,74,Psychology,1667,437,1230
68,Slavic Languages & Literature,13,6,7,Slavic Languages & Literature,14,3,11
69,Sociology,46,28,18,Sociology,213,77,136
70,Spanish,46,18,28,Spanish,121,40,81
71,Speech & Hearing Science,158,13,145,Speech & Hearing Science,298,14,284
72,Statistics,11,6,5,Statistics,561,325,236
73,Teaching of Chemistry,7,3,4,Teaching of Chemistry,1,0,10
74,Teaching of English Sec Lang,75,15,60,Teaching of English Sec Lang,28,50,230
75,Teaching of French,14,1,13,Teaching of French,1,0,10
76,Teaching of Mathematics,28,10,18,Teaching of Mathematics,3,20,10
77,Teaching of Spanish,24,2,22,Teaching of Spanish,7,0,70
78,Law,639,468,171,Law,487,269,218
79,Advertising,240,77,163,Advertising,645,207,438
80,Communication,27,12,15,Communication,732,280,452
81,Journalism,203,75,128,Journalism,228,90,138
82,Social Work,315,69,246,Social Work,607,86,521
83,VMS-Veterinary Clinical Medcne,11,80,30,VMS-Veterinary Clinical Medcne,34,90,250
84,Veterinary Medicine,355,2100,1450,Veterinary Medicine,545,750,4700
85,Library & Information Science,142,34,108,Library & Information Science,529,116,408